.App {
  text-align: center;
}


li {
  list-style: none;
  padding: 10px;
}


.tweet {
  flex-direction: column;
  width: 100%;
  max-width: 590px;
  padding: 20px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 5px;
  text-align: left;
}
.screen_name {
  text-align: left;
  color: #1da1f2;
  font-weight: bold;
}

